@use '../variables';

.productsTitle {
  padding-top: 14vh;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 12vh;
  background: linear-gradient(90deg, #3f3c3a, #23201e);
  border-left: 4px solid variables.$color-accent;
  text-align: center;

  h1{
    margin: 0;
  }

  .centerTitle{
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 5rem;
  }

  .secondTitle{
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-weight: 200;
    font-size: 3rem;
  }

  .thirdTitle{
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1rem;
  }
  
}

.subPrinciplaPanell {
    display: flex;
    background-color: #5b5653;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }