@use '../variables';

$color-bg-base: #3d3a37;

.principalPanell {
  position: relative;
  background-image: url("../../../public/images/principalPanel.jpg");
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, #3f3c3a 40%, #23201ea4 100%);
    inset: 0;
    z-index: 0;
  }

  .container,
  .subPrinciplaPanell {
    position: relative;
    z-index: 1;
  }

  p {
    margin: 0;
  }

  .container {
    padding-top: 27vh;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 27vh;
    border-left: 4px solid variables.$color-accent;


    span {
      color: variables.$color-accent;
      text-transform: uppercase;
      font-weight: 300;
    }

    h1 {
      color: white;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 3rem;
    }

    p {
      color: #B5ADAA;
    }

    .principalPanellContent {
      display: flex;
      align-items: center;
      gap: 10%;

      .leftPrincipalPanell {
        width: 60%;

        .principalContentActions {
          padding-top: 30px;
          display: flex;
          gap: 10px;

          .seeProducts {
            color: white;
            font-weight: 400;
            font-size: 1rem;
            text-transform: uppercase;
            border-radius: 0px;
            border: 1px solid variables.$color-accent;
            width: 40%;
            background-color: variables.$color-accent;
            padding: 15px 0px;
            cursor: pointer;
          }

          .contactUs {
            color: white;
            font-weight: 400;
            font-size: 1rem;
            text-transform: uppercase;
            border-radius: 0px;
            border: 1px solid white;
            width: 40%;
            background: none;
            padding: 15px 0px;
            cursor: pointer;
          }
        }
      }

      .rightPrincipalPanell {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 900px; // necessari per a l'efecte rotateY de les cartes
      }


    }



  }

  .subPrinciplaPanell {
    display: flex;
    background-color: #5b5653;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;


    .subPrinciplaPanellCategories {
      display: flex;

      p {
        color: #D4CCC8;
        padding: 10px 20px;
        font-weight: 600;
      }
    }

    .deliveryInfo {
      color: variables.$color-accent;
      text-transform: uppercase;
      font-weight: 300;
    }
  }

}