@mixin table{
    background-color: white;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.199);
    border-radius: 20px;
    padding: 20px;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin add-color{
    background-color: #ff6b35;
    color: white;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}
@mixin flex-row{
    display: flex;
    flex-direction: row;
}
@mixin status-color($status){
    @if $status == 1 {
        border-radius: 12px;
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
    } @else {
        border-radius: 12px;
        padding: 5px 10px;
        background-color: #f44336;
        color: white;
    }
}