$color-orange: #FF6126;
$color-border: #f0f0f0;
$color-text-grey: #a0a0a0;


@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin add-color{
    background-color: #ff6b35;
    color: white;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}
@mixin flex-row{
    display: flex;
    flex-direction: row;
}
@mixin status-color($status){
    @if $status == 1 {
        border-radius: 12px;
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
    } @else {
        border-radius: 12px;
        padding: 5px 10px;
        background-color: #f44336;
        color: white;
    }
}

@mixin flex-spacebetween{
    display: flex;
    justify-content: space-between;
}

@mixin button-orange{
    background-color: $color-orange;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

@mixin dropdown-filters-tables{
    color: $color-text-grey;
    background-color: white;
    border: $color-border solid 1px;
    padding: 10px;
    border-radius: 10px;
}

@mixin search-bar-tables{
    color: $color-text-grey;
    background-color: white;
    border: $color-border solid 1px;
    padding: 10px;
    border-radius: 10px;
}