.productsInPack{
    display: flex;
    gap: 20px;

    h3{
        margin: 0;
    }
    div.table-container{
        width: 50%;
    }
}

.tableFiltersInPacks{
    width: 100%;
}

.scrollable{
    max-height: 410px;
    overflow-y: auto;
}