.product-data-box{
    .productsInPack{
        display: flex;
        gap: 20px;
    }

    .tableFiltersInPacks{
        width: 100%;
    }

    .scrollable{
        max-height: 410px;
        overflow-y: auto;
    }

    .table-container{
        border: 0;
        padding: 0;
    }
}
