// _variables.scss
$color-border: #f0f0f0;
$color-text-header: #a0a0a0;
$color-text-body: #666;
$color-bg-container: #ffffff;
$color-accent: #ff6b35;
$color-title: #343434;

$border-color: #ccd0d4; 
$bg-light: #f6f7f7;
$text-color: #3c434a;